.heading {
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 16px;

margin-top: 60px;
}

.title {
  display: block;
}

.titleText{
margin: 0;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 36px;
/* or 100% */

text-align: center;

color: #240D57;
}

.snapchat {
margin: 0;
font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 41px;
text-align: center;

background: linear-gradient(90deg, #8456EC 24.2%, #E87BF8 120.46%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
}

.motto {
width: 321px;
height: 36px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 300;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #4F4F4F;
}

.card {
width: 165.63px;
height: 292px;
margin-top: 36px;

/* background: url(https://s3.us-west-2.amazonaws.com/secure.notion-static.com/ea95af2d-7f06-4f25-859c-9069519053a7/Landing_page_image.svg?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Content-Sha256=UNSIGNED-PAYLOAD&X-Amz-Credential=AKIAT73L2G45EIPT3X45%2F20220924%2Fus-west-2%2Fs3%2Faws4_request&X-Amz-Date=20220924T222313Z&X-Amz-Expires=86400&X-Amz-Signature=692301a87ceddfca7a4f2e14d364a4e8a53738bbfe8ca8ff4a632c64719c7b77&X-Amz-SignedHeaders=host&response-content-disposition=filename%20%3D%22Landing%2520page%2520image.svg%22&x-id=GetObject); */
filter: drop-shadow(0px 0px 17.6435px rgba(0, 0, 0, 0.05));
border-radius: 13.2326px;
}

.create {
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px;
gap: 10px;

width: 187px;
height: 50px;
margin-top: 34px;

background: linear-gradient(90deg, #8456EC 3.25%, #E87BF8 100%);
border-radius: 10px;

font-family: 'Helvetica';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 18px;
text-align: center;

color: #FFFFFF;

border: none;

position: fixed;
bottom: 14px;
-ms-transform: translateX(-50%);
transform: translateX(-50%);
margin: 0;
}

a {
  text-decoration: none;
}